In [1]:
import pandas as pd
import numpy as np
import re

# For scraping
import requests
from bs4 import BeautifulSoup
import json

# Increase columns and rows for display to have a better view of the dataframe
pd.set_option("display.max_columns", 100)
pd.set_option("display.min_rows", 100)

### Residential monthly price index
- Source: full dataset from https://ec.europa.eu/eurostat/databrowser/view/STS_COPI_M/default/table?lang=en&category=sts.sts_cons.sts_cons_pri

In [2]:
# Read raw dataset
rpi_df = pd.read_csv('constr_price_cost_monthly.csv')
rpi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17905 entries, 0 to 17904
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     17905 non-null  object
 1   LAST UPDATE  17905 non-null  object
 2   freq         17905 non-null  object
 3   indic_bt     17905 non-null  object
 4   cpa2_1       17905 non-null  object
 5   s_adj        17905 non-null  object
 6   unit         17905 non-null  object
 7   geo          17905 non-null  object
 8   TIME_PERIOD  17905 non-null  object
 9   OBS_VALUE    17905 non-null  float64
 10  OBS_FLAG     9341 non-null   object
dtypes: float64(1), object(10)
memory usage: 1.5+ MB

In [3]:
# Select relevant features
rpi_df = rpi_df[['TIME_PERIOD','geo','indic_bt','unit','OBS_VALUE']]

# Originally with different units and indic_bt so firt pivot and join column levels name 
rpi_df = rpi_df.pivot_table('OBS_VALUE',['TIME_PERIOD','geo'],['unit','indic_bt'])
rpi_df.columns = rpi_df.columns.map('_'.join)
rpi_df.reset_index(inplace=True)

#Transform 'Time period' to datetime with proper format so incomplete yeas can be filtered by date and rearrange order
rpi_df['TIME_PERIOD'] = pd.to_datetime(rpi_df['TIME_PERIOD'], format='%Y-%m')
rpi_df = rpi_df[['TIME_PERIOD','geo','I15_CSTO','PCH_PRE_CSTO','PCH_SM_CSTO']]
rpi_df = rpi_df[(rpi_df['TIME_PERIOD']>='2001-01-01')&(rpi_df['TIME_PERIOD']<='2022-12-01')]

#removing countries with incomplete data to aboid NaNs
rpi_df = rpi_df[(rpi_df['geo']!='IT')&(rpi_df['geo']!='TR')]

# Renaming features for better understanding
rpi_df.rename(columns={
    'TIME_PERIOD': 'month',
    'geo': 'country',
    'I15_CSTO': 'residential_price_index',
    'PCH_PRE_CSTO': 'perc_change_prev',
    'PCH_SM_CSTO':'perc_change_yoy'
}, inplace=True)
rpi_df.reset_index(drop=True, inplace=True)

rpi_df

,month,country,residential_price_index,perc_change_prev,perc_change_yoy
0,2001-01-01,AT,68.0,0.3,2.4
1,2001-01-01,ES,70.1,1.2,3.7
2,2001-01-01,FI,73.1,0.1,2.8
3,2001-01-01,IE,73.3,2.9,22.6
4,2001-01-01,LT,62.8,-1.7,0.6
5,2001-01-01,NL,76.4,1.2,3.9
6,2001-01-01,NO,60.1,1.0,5.3
7,2001-01-01,PL,82.4,0.7,4.8
8,2001-01-01,PT,74.8,-1.7,-2.2
9,2001-02-01,AT,68.0,0.0,2.3
10,2001-02-01,ES,70.3,0.3,3.5
11,2001-02-01,FI,73.8,1.0,3.4
12,2001-02-01,IE,73.9,0.8,23.6
13,2001-02-01,LT,62.9,0.2,1.0
14,2001-02-01,NL,76.5,0.1,4.1
15,2001-02-01,NO,60.4,0.5,5.4
16,2001-02-01,PL,82.9,0.6,5.2
17,2001-02-01,PT,74.8,0.0,-1.8
18,2001-03-01,AT,68.0,0.0,2.3
19,2001-03-01,ES,70.3,0.0,3.2
20,2001-03-01,FI,73.9,0.1,3.1
21,2001-03-01,IE,74.5,0.8,21.7
22,2001-03-01,LT,62.7,-0.3,0.5
23,2001-03-01,NL,76.5,0.0,3.9
24,2001-03-01,NO,60.5,0.2,5.2
25,2001-03-01,PL,83.1,0.2,4.3
26,2001-03-01,PT,75.0,0.3,-2.2
27,2001-04-01,AT,68.2,0.3,2.4
28,2001-04-01,ES,70.5,0.3,3.4
29,2001-04-01,FI,74.4,0.7,3.3
...,...,...,...,...,...
2346,2022-09-01,NO,136.8,-0.1,5.2
2347,2022-09-01,PL,136.1,1.2,15.3
2348,2022-09-01,PT,134.1,0.7,12.8
2349,2022-10-01,AT,133.7,-0.4,7.5
2350,2022-10-01,ES,127.9,-1.8,10.3
2351,2022-10-01,FI,120.4,0.0,5.8
2352,2022-10-01,IE,131.1,0.8,9.9
2353,2022-10-01,LT,153.8,0.7,18.3
2354,2022-10-01,NL,130.0,0.3,9.2
2355,2022-10-01,NO,136.8,0.0,4.6
2356,2022-10-01,PL,137.7,1.2,15.5
2357,2022-10-01,PT,134.3,0.1,12.0
2358,2022-11-01,AT,132.2,-1.1,6.4
2359,2022-11-01,ES,126.7,-0.9,8.6
2360,2022-11-01,FI,120.4,0.0,5.5
2361,2022-11-01,IE,131.6,0.4,10.0
2362,2022-11-01,LT,154.2,0.3,17.3
2363,2022-11-01,NL,129.7,-0.2,8.7
2364,2022-11-01,NO,139.2,1.8,5.5
2365,2022-11-01,PL,138.7,0.7,15.8
2366,2022-11-01,PT,134.6,0.2,10.6
2367,2022-12-01,AT,131.3,-0.7,5.8
2368,2022-12-01,ES,125.5,-0.9,6.8
2369,2022-12-01,FI,120.5,0.1,5.3
2370,2022-12-01,IE,131.6,0.0,9.9
2371,2022-12-01,LT,154.5,0.2,17.4
2372,2022-12-01,NL,129.7,0.0,8.5
2373,2022-12-01,NO,138.9,-0.2,6.3
2374,2022-12-01,PL,139.7,0.7,15.9
2375,2022-12-01,PT,134.6,0.0,11.1

In [4]:
rpi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2376 entries, 0 to 2375
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   month                    2376 non-null   datetime64[ns]
 1   country                  2376 non-null   object
 2   residential_price_index  2376 non-null   float64
 3   perc_change_prev         2376 non-null   float64
 4   perc_change_yoy          2376 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 92.9+ KB

In [5]:
# rpi_df.to_csv('res_price_index.csv', index=False)

### New Dwellings annual (NDA)

- Source:
    - NDA02.csv (https://data.cso.ie/table/NDA02)
    - NDA07.csv (https://data.cso.ie/table/NDA07)
    - NDA08.csv (https://data.cso.ie/table/NDA08)

In [6]:
# Define function to read multiple csv with arguments
def readcsv(args):
    return pd.read_csv(args, skiprows=1, header=None)

nda_df = pd.concat(map(readcsv, ['NDA02.csv','NDA08.csv','NDA07.csv']), ignore_index=True)
nda_df = nda_df.iloc[:,[1,2,5,7]]

nda_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       152 non-null    object
 1   2       152 non-null    int64
 2   5       152 non-null    object
 3   7       152 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 4.9+ KB

In [7]:
# Renaming columns 
nda_df.rename(columns={
    1:'label', 
    2:'year', 
    5:'prop_type', 
    7:'value'
}, inplace=True)

# Renaming labels
label_dict = {
    'New Dwelling Completions':'new_dwelling',
    'Average New Dwelling Size':'avg_dwelling_size', 
    'Weight in Mix':'dwelling_type_perc',
    'Average New Dwelling Size Index (2016=100)':'avg_dwelling_size_index2016'
}
nda_df.replace({"label":label_dict}, inplace=True)

# Renaming propertie_type names
prop_type_dict = {
    'All house types':'all_types',
    'Single house':'single_hs', 
    'Scheme house':'scheme_hs',
    'Apartment':'apartment',
    'Ireland': 'all_types'
}
nda_df.replace({"prop_type":prop_type_dict}, inplace=True)

nda_df = nda_df.pivot_table('value', ['year', 'prop_type'], 'label')
nda_df.reset_index(drop=False, inplace=True)
nda_df = nda_df.rename_axis(None, axis=1)
nda_df.drop(['avg_dwelling_size_index2016'], axis=1, inplace=True)

# Property_type percent for all types is 100%
nda_df['dwelling_type_perc'] = nda_df['dwelling_type_perc'].fillna(100)

# No data for year 2023
nda_df.dropna(inplace=True)

nda_df

    year  prop_type  avg_dwelling_size  dwelling_type_perc  new_dwelling
0   2011  all_types              194.9               100.0        6994.0
1   2011  apartment               73.0                11.8         822.0
2   2011  scheme_hs              109.0                19.4        1358.0
3   2011  single_hs              240.0                68.8        4814.0
4   2012  all_types              200.8               100.0        4911.0
5   2012  apartment               65.0                 9.1         446.0
6   2012  scheme_hs              116.0                19.6         964.0
7   2012  single_hs              241.0                71.3        3501.0
8   2013  all_types              196.1               100.0        4575.0
9   2013  apartment               74.0                10.3         473.0
10  2013  scheme_hs              125.0                25.2        1155.0
11  2013  single_hs              243.0                64.5        2947.0
12  2014  all_types              181.4               100.0        5518.0
13  2014  apartment               75.0                13.6         748.0
14  2014  scheme_hs              142.0                32.5        1795.0
15  2014  single_hs              232.0                53.9        2975.0
16  2015  all_types              172.7               100.0        7219.0
17  2015  apartment               83.0                 9.3         673.0
18  2015  scheme_hs              137.0                45.7        3294.0
19  2015  single_hs              227.0                45.0        3252.0
20  2016  all_types              165.5               100.0        9821.0
21  2016  apartment               77.0                11.7        1149.0
22  2016  scheme_hs              136.0                51.4        5052.0
23  2016  single_hs              235.0                36.9        3620.0
24  2017  all_types              152.4               100.0       14296.0
25  2017  apartment               82.0                15.2        2179.0
26  2017  scheme_hs              129.0                55.2        7880.0
27  2017  single_hs              232.0                29.6        4237.0
28  2018  all_types              148.0               100.0       17872.0
29  2018  apartment               83.0                12.6        2243.0
30  2018  scheme_hs              127.0                61.3       10958.0
31  2018  single_hs              229.0                26.1        4671.0
32  2019  all_types              141.8               100.0       21126.0
33  2019  apartment               83.0                16.5        3484.0
34  2019  scheme_hs              123.0                59.3       12537.0
35  2019  single_hs              229.0                24.2        5105.0
36  2020  all_types              137.8               100.0       20574.0
37  2020  apartment               80.0                19.0        3909.0
38  2020  scheme_hs              120.0                56.8       11688.0
39  2020  single_hs              225.0                24.2        4977.0
40  2021  all_types              131.9               100.0       20553.0
41  2021  apartment               78.0                24.9        5126.0
42  2021  scheme_hs              116.0                52.0       10689.0
43  2021  single_hs              225.0                23.1        4738.0
44  2022  all_types              123.8               100.0       29822.0
45  2022  apartment               75.0                30.7        9147.0
46  2022  scheme_hs              118.0                50.8       15160.0
47  2022  single_hs              222.0                18.5        5515.0

In [8]:
# nda_df.to_csv('nda.csv', index=False)

### Daft.ie house prices by property type

- Source: Web scraping (Daft.ie)
- around 3 minutes to run

In [9]:
# URL of the page with pagination
url = 'https://www.daft.ie/property-for-sale/ireland?floorSize_from=10&floorSize_to=2500&spageSize=20&numBeds_from=1&numBeds_to=9&numBaths_from=1&numBaths_to=9&pageSize=20&propertyType=detached-houses&propertyType=apartments&propertyType=semi-detached-houses&from='

# Pages show 20 resuls per page, create a list to loop every 20 posts
pages = [*range(0,8501,20)]

# Empty list to store each loop
data = []

# Loop through all pages
for page in pages:  
    # Construct the URL of the current page
    page_url = url + str(page)
    
    # Send a GET request to the page URL
    response = requests.get(page_url)
    
    # Parse the HTML content of the response using BeautifulSoup
    soup = BeautifulSoup(response.content, 'html.parser')
    
    for span in soup.find_all('span'):
        span.decompose()
    
    # Scrape data from the current page using BeautifulSoup methods
    price = [item.text for item in soup.find_all(attrs={'data-testid':'price'})]
    floor_area = [item.text for item in soup.find_all(attrs={'data-testid':'floor-area'})]
    beds = [item.text for item in soup.find_all(attrs={'data-testid':'beds'})]
    baths = [item.text for item in soup.find_all(attrs={'data-testid':'baths'})]
    property_type = [item.text for item in soup.find_all(attrs={'data-testid':'property-type'})]
    
    # Combine the scraped data into a list of dictionaries
    page_data = [{
        'price': price,
        'floor_area': floor_area,
        'beds': beds,
        'baths': baths,
        'property_type': property_type
    } 
        for price, floor_area, beds, baths, property_type in zip(price, floor_area, beds, baths, property_type)]

    # Add the page data to the list of all data
    data.extend(page_data)
    
# Create a Pandas DataFrame from the list of dictionaries
daft_df = pd.DataFrame(data)

# Print the DataFrame
daft_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7289 entries, 0 to 7288
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   price          7289 non-null   object
 1   floor_area     7289 non-null   object
 2   beds           7289 non-null   object
 3   baths          7289 non-null   object
 4   property_type  7289 non-null   object
dtypes: object(5)
memory usage: 284.9+ KB

In [10]:
# define a function to remove non-numeric characters from a string
def remove_nonnumeric_chars(s):
    return re.sub('[^0-9]', '', s)

# apply the function to the desired columns
daft_df['price'] = daft_df['price'].apply(remove_nonnumeric_chars).apply(pd.to_numeric)
daft_df['beds'] = daft_df['beds'].apply(remove_nonnumeric_chars).apply(pd.to_numeric)
daft_df['baths'] = daft_df['baths'].apply(remove_nonnumeric_chars).apply(pd.to_numeric)

# Remove rows whit NaN values in price due to previous applied function
daft_df = daft_df.dropna(subset=['price']).reset_index(drop=True)

# Split 'floor_area' into 'floor_area'(number) and 'floor_area_unit'(str)
daft_df[['floor_area','floor_area_unit']] = daft_df['floor_area'].str.split(' ',expand=True)

# Remove properties in different area unit (mostly not houses/apartments)
daft_df = daft_df.drop(daft_df[daft_df.floor_area_unit =='ac'].index)
# There were some listings (3) with non realistic prices 
daft_df = daft_df.drop(daft_df[daft_df.price < 100].index).reset_index(drop=True)

# Convert numeric columns to int
daft_df[['price','floor_area','beds','baths']] = daft_df[['price','floor_area','beds','baths']].astype('float')

# Add calculated column to show price per square meter
daft_df['price_sq_mt'] = round(daft_df['price']/daft_df['floor_area'])

In [11]:
daft_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7012 entries, 0 to 7011
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price            7012 non-null   float64
 1   floor_area       7012 non-null   float64
 2   beds             7012 non-null   float64
 3   baths            7012 non-null   float64
 4   property_type    7012 non-null   object
 5   floor_area_unit  7012 non-null   object
 6   price_sq_mt      7012 non-null   float64
dtypes: float64(5), object(2)
memory usage: 383.6+ KB

In [12]:
# daft_df.to_csv('daft.csv', index=False)

### Sentiment analysis

- News titles from
    - The Journal
    - World Construction Today
    - Irish Time

### The Journal news

- Source: Web scraping (thejournal.ie)

In [13]:
# URL of the page with pagination
url = 'https://www.thejournal.ie/housing/news/page/'

# First 10 pages (around mar 2016)
pages = [*range(1,31)]

# Empty list to store each loop
data = []

# Loop through all pages
for page in pages:  
    # Construct the URL of the current page
    page_url = url + str(page)
    
    # Send a GET request to the page URL
    response = requests.get(page_url)
    
    # Parse the HTML content of the response using BeautifulSoup
    soup = BeautifulSoup(response.content, 'html.parser')
    
    # Scrape data from the current page using BeautifulSoup methods
    lines = [item.text for item in soup.find_all(attrs={'class':['title-redesign','excerpt-redesign']})]

    # Add the page data to the list of all data
    data.extend(lines)
    
# Create a Pandas DataFrame from the list of dictionaries
tj_df = pd.DataFrame(data)

# Print the DataFrame
tj_df

                                                      0
0     Green light for nine-storey, 245-bedroom 'lean...
1     Dublin City Council stated that the scheme is ...
2     Dublin Fire Brigade to tell TDs that fire safe...
3     Traditional building methods have undergone a ...
4     O'Brien seeking to convert vacant office block...
5     The Housing Minister today confirmed that he w...
6     \n            'Not going back to hostels': The...
7     \n            TÃ¡naiste MicheÃ¡l Martin said tha...
8     House prices up 3.9% from last year, the lowes...
9     House prices outside Dublin are rising faster ...
10    Tory bill to abolish no-fault evictions in Eng...
11    The ban was part of the Conservativesâ€™ 2019 el...
12    Poll: Do you know the Building Energy Rating (...
13                                  Whatâ€™s your rating?
14    MicheÃ¡l Martin: It's 'possible' Ireland can bu...
15    The TÃ¡naiste says Irelandâ€™s construction indus...
16    \n                            Analysis:       ...
17    Mark Coan of Money Sherpa says more needs to b...
18    Family homeless in eviction after receiver ref...
19    The housing department says councils can offer...
20    Defective Concrete Block scheme regulations sh...
21    Minister Michael McGrath says he will engage f...
22    Irish Government â€˜will move heaven and earthâ€™ ...
23    A new report finds a quarter of older renters ...
24    No restaurant street furniture fees for anothe...
25    Government to remove fees charging restaurants...
26    \n            FactCheck: Is the Govt correct t...
27    \n            Last week, a Government statemen...
28    Is there a market for apartments for sale or r...
29    Government told to undertake market research o...
...                                                 ...
2453  Some social housing left empty for over a year...
2454  Figures obtained by RTÃ‰ show properties in som...
2455  Alan Kelly admits over-budget Ballymun homes '...
2456     The cost of each house could reach over â‚¬240k.
2457  600 children became homeless in Dublin so far ...
2458  Focus Ireland has said at least three families...
2459  'It's not fair to tell people waking up in eme...
2460  Sinn FÃ©in said while the two political parties...
2461  Homeless family sue council over allocation of...
2462  The family say there is no basis in law for re...
2463  House prices are rising all across the country...
2464  Dublin is actually lagging the rest of the cou...
2465  Panic attacks, depression, suicidal thoughts: ...
2466  National suicide prevention charity Console sa...
2467  New homes for over 100 families on Dublin hous...
2468  The properties in Finglas and Beaumont will be...
2469  These are the five things Focus Ireland says w...
2470  One in every three people who are homeless is ...
2471  Tyrrelstown residents want immediate protectio...
2472  Ruth Coppinger has called for the government t...
2473  \nâ€œEverything should be freeâ€ brigade rowing i...
2474  We need to make it easier for developers to ma...
2475  Credit unions got no official government respo...
2476  The Irish League of Credit Unions is proposing...
2477  Sinn FÃ©in doesn't fancy government, but thinks...
2478  Fianna FÃ¡il and Fine Gael need to do a deal, a...
2479  House buyers being pushed out of Dublin could ...
2480  The difference between prices in urban and rur...
2481  Older people moving to smaller houses might he...
2482  Age Action says an ESRI report â€œseems to ignor...

[2483 rows x 1 columns]

In [14]:
tj_df[0] = tj_df[0].replace('\n|\t|\r','',regex=True)
tj_df[0] = tj_df[0].map(str.strip)
tj_df[0]

0       Green light for nine-storey, 245-bedroom 'lean...
1       Dublin City Council stated that the scheme is ...
2       Dublin Fire Brigade to tell TDs that fire safe...
3       Traditional building methods have undergone a ...
4       O'Brien seeking to convert vacant office block...
5       The Housing Minister today confirmed that he w...
6       'Not going back to hostels': The Dublin tenant...
7       TÃ¡naiste MicheÃ¡l Martin said that the RTB woul...
8       House prices up 3.9% from last year, the lowes...
9       House prices outside Dublin are rising faster ...
10      Tory bill to abolish no-fault evictions in Eng...
11      The ban was part of the Conservativesâ€™ 2019 el...
12      Poll: Do you know the Building Energy Rating (...
13                                    Whatâ€™s your rating?
14      MicheÃ¡l Martin: It's 'possible' Ireland can bu...
15      The TÃ¡naiste says Irelandâ€™s construction indus...
16      Analysis:                 Government and the C...
17      Mark Coan of Money Sherpa says more needs to b...
18      Family homeless in eviction after receiver ref...
19      The housing department says councils can offer...
20      Defective Concrete Block scheme regulations sh...
21      Minister Michael McGrath says he will engage f...
22      Irish Government â€˜will move heaven and earthâ€™ ...
23      A new report finds a quarter of older renters ...
24      No restaurant street furniture fees for anothe...
25      Government to remove fees charging restaurants...
26      FactCheck: Is the Govt correct to claim that 4...
27      Last week, a Government statement included a s...
28      Is there a market for apartments for sale or r...
29      Government told to undertake market research o...
                              ...
2453    Some social housing left empty for over a year...
2454    Figures obtained by RTÃ‰ show properties in som...
2455    Alan Kelly admits over-budget Ballymun homes '...
2456       The cost of each house could reach over â‚¬240k.
2457    600 children became homeless in Dublin so far ...
2458    Focus Ireland has said at least three families...
2459    'It's not fair to tell people waking up in eme...
2460    Sinn FÃ©in said while the two political parties...
2461    Homeless family sue council over allocation of...
2462    The family say there is no basis in law for re...
2463    House prices are rising all across the country...
2464    Dublin is actually lagging the rest of the cou...
2465    Panic attacks, depression, suicidal thoughts: ...
2466    National suicide prevention charity Console sa...
2467    New homes for over 100 families on Dublin hous...
2468    The properties in Finglas and Beaumont will be...
2469    These are the five things Focus Ireland says w...
2470    One in every three people who are homeless is ...
2471    Tyrrelstown residents want immediate protectio...
2472    Ruth Coppinger has called for the government t...
2473    â€œEverything should be freeâ€ brigade rowing in ...
2474    We need to make it easier for developers to ma...
2475    Credit unions got no official government respo...
2476    The Irish League of Credit Unions is proposing...
2477    Sinn FÃ©in doesn't fancy government, but thinks...
2478    Fianna FÃ¡il and Fine Gael need to do a deal, a...
2479    House buyers being pushed out of Dublin could ...
2480    The difference between prices in urban and rur...
2481    Older people moving to smaller houses might he...
2482    Age Action says an ESRI report â€œseems to ignor...
Name: 0, Length: 2483, dtype: object

In [15]:
# tj_df.to_csv('theJournal.csv', index=False)

### World Construction Today news

- Source: Web scraping (worldconstructiontoday.com)
- around 20 minutes to run

In [16]:
# URL of the page with pagination
url1 = 'https://www.worldconstructiontoday.com/page/'
url2 = '/?s=construction'

# Create a list to use as pages
pages = [*range(1,300)]
# pages = [1,2] # to test code

# Empty list to store each loop
data = []

# Loop through all pages
for page in pages:  
    # Construct the URL of the current page
    page_url = url1 + str(page) + url2
    
    # Send a GET request to the page URL
    response = requests.get(page_url)
    
    # Parse the HTML content of the response using BeautifulSoup
    soup = BeautifulSoup(response.content, 'html.parser')
    
    for article in soup.find_all(attrs={'class':'td_block_inner'}):
        article.decompose()
    
    # Scrape data from the current page using BeautifulSoup methods
    lines = [item.text for item in soup.find_all(attrs={'class':['entry-title td-module-title','td-excerpt']})]

    # Add the page data to the list of all data
    data.extend(lines)
    
# Create a Pandas DataFrame from the list of dictionaries
wc_df = pd.DataFrame(data)

# Print the DataFrame
wc_df

                                                      0
0       Top 10 Mistakes to Avoid on a Construction Site
1     \r\n                    Construction sites can...
2     Oldest Construction Examples Found In Saudi An...
3     \r\n                    Archaeologists have go...
4     Revolutionising the Construction Industry with...
5     \r\n                    In the ever-evolving w...
6     Staying Safe in Construction: Common Hazards a...
7     \r\n                    Construction is one of...
8     Construction Input Prices Show Favorable Trend...
9     \r\n                    \r\n \tAccording to an...
10    Study Shows How Technology Transforms Construc...
11    \r\n                    A new study has gone o...
12    Construction Investments Boost Solar Shading S...
13    \r\n                    In the past decade, th...
14    UK Government To Standardize Modern Constructi...
15    \r\n                    The UK Government is p...
16    Construction Insights: The Future of Sustainab...
17    \r\n                    As our global consciou...
18    Most Common Construction Site Injuries and How...
19    \r\n                    Working on constructio...
20    USA Immigration Policies Lead To Home Construc...
21    \r\n                    New home construction ...
22    Modern Construction Methods â€“ Efficient And Su...
23    \r\n                    In the simplest of ter...
24    Survey Shows Construction Industry Lags In Tec...
25    \r\n                    Sectors like supply ch...
26    Infrastructure Investment To Benefit Construct...
27    \r\n                    The equipment manufact...
28    CO2 Emissions Skyrocket In Buildings & Constru...
29    \r\n                    Despite the fact that ...
...                                                 ...
5950  VINCI announces signature of contracts valued ...
5951  \r\n                    Signature of the contr...
5952           Two More Contracts for BMM Joint Venture
5953  \r\n                    BAM Nuttall Mott MacDo...
5954  Interserve Wins Account Extension With Spanish...
5955  \r\n                    International support ...
5956  Balfour Beatty awarded major contract to const...
5957  \r\n                    Balfour Beatty, the in...
5958  Balfour Beatty awarded major contract to const...
5959  \r\n                    Balfour Beatty, the in...
5960  Hardware+Tools Middle East 2016 Concludes In D...
5961  \r\n                    Strong industry respon...
5962  Balfour Beatty Reaches Financial Close for C$3...
5963  \r\n                    Balfour Beatty Investm...
5964  Hill International Receives $79 Million Contra...
5965  \r\n                    Hill International the...
5966  Astaldi Group Contract Signed For The Developm...
5967  \r\n                    The contract signing c...
5968  Skanska achieves its biggest-ever Open Doors p...
5969  \r\n                    The Build UK Open Door...
5970   kier group awarded Â£24m st james, dover contract
5971  \r\n                    Kier has been awarded ...
5972  Hertfordshire based companies have been praise...
5973  \r\n                    Six companies from the...
5974  Keller Group PLC Announce Annual General Meeti...
5975  \r\n                    Keller Group plc the i...
5976  London Bridge Strikes Gold In Considerate Cons...
5977  \r\n                    Costainâ€™s London Bridg...
5978  Dubai Holding unveils â€œMarasi Business Bay,â€ a...
5979  \r\n                    Dubai Holding, through...

[5980 rows x 1 columns]

In [17]:
wc_df[0] = wc_df[0].replace('\n|\t|\r|','',regex=True)
wc_df[0] = wc_df[0].map(str.strip)
wc_df[0]

0         Top 10 Mistakes to Avoid on a Construction Site
1       Construction sites can be busy, complex, and s...
2       Oldest Construction Examples Found In Saudi An...
3       Archaeologists have gone on to describe what c...
4       Revolutionising the Construction Industry with...
5       In the ever-evolving world of construction, a ...
6       Staying Safe in Construction: Common Hazards a...
7       Construction is one of the most essential indu...
8       Construction Input Prices Show Favorable Trend...
9       According to an analysis of government data re...
10      Study Shows How Technology Transforms Construc...
11      A new study has gone on to highlight how techn...
12      Construction Investments Boost Solar Shading S...
13      In the past decade, the solar shading systems ...
14      UK Government To Standardize Modern Constructi...
15      The UK Government is planning to standardize m...
16      Construction Insights: The Future of Sustainab...
17      As our global consciousness towards environmen...
18      Most Common Construction Site Injuries and How...
19      Working on construction sites can be hazardous...
20      USA Immigration Policies Lead To Home Construc...
21      New home construction is crucial for lowering ...
22      Modern Construction Methods â€“ Efficient And Su...
23      In the simplest of terms, Modern Construction ...
24      Survey Shows Construction Industry Lags In Tec...
25      Sectors like supply chain management as well a...
26      Infrastructure Investment To Benefit Construct...
27      The equipment manufacturing sector is recoveri...
28      CO2 Emissions Skyrocket In Buildings & Constru...
29      Despite the fact that there is an increase in ...
                              ...
5950    VINCI announces signature of contracts valued ...
5951    Signature of the contracts covering the worldâ€™...
5952             Two More Contracts for BMM Joint Venture
5953    BAM Nuttall Mott MacDonald (BMM) JV has now pi...
5954    Interserve Wins Account Extension With Spanish...
5955    International support services and constructio...
5956    Balfour Beatty awarded major contract to const...
5957    Balfour Beatty, the international infrastructu...
5958    Balfour Beatty awarded major contract to const...
5959    Balfour Beatty, the international infrastructu...
5960    Hardware+Tools Middle East 2016 Concludes In D...
5961    Strong industry response to three-day trade sh...
5962    Balfour Beatty Reaches Financial Close for C$3...
5963    Balfour Beatty Investments, a leading investor...
5964    Hill International Receives $79 Million Contra...
5965    Hill International the global leader in managi...
5966    Astaldi Group Contract Signed For The Developm...
5967    The contract signing ceremony was held in Muni...
5968    Skanska achieves its biggest-ever Open Doors p...
5969    The Build UK Open Doors construction scheme is...
5970     kier group awarded Â£24m st james, dover contract
5971    Kier has been awarded a Â£24m contract by devel...
5972    Hertfordshire based companies have been praise...
5973    Six companies from the county were invited to ...
5974    Keller Group PLC Announce Annual General Meeti...
5975    Keller Group plc the international ground engi...
5976    London Bridge Strikes Gold In Considerate Cons...
5977    Costainâ€™s London Bridge Redevelopment has won ...
5978    Dubai Holding unveils â€œMarasi Business Bay,â€ a...
5979    Dubai Holding, through its real estate arm "Du...
Name: 0, Length: 5980, dtype: object

In [18]:
# wc_df.to_csv('worldconstructiontoday.csv', index=False)

### Irish Times news

- Source: Web scraping (irishtimes.com)

In [19]:
# URL of the page with pagination
url1 = 'https://api.queryly.com/json.aspx?queryly_key=954cd8bb239245f9&query=house%20prices%20&endindex='
url2 = '&batchsize=100&callback=searchPage.resultcallback&showfaceted=true&extendeddatafields=creator,imageresizer,promo_image&timezoneoffset=-60'

# around 2018
article_index = [*range(0,801,100)]

# Empty dataframe to store each loop
articles = {'title':[],'description':[]}
it_df = pd.DataFrame(articles)

# Loop through all pages
for i in article_index:  
    # Construct the URL of the current page
    page_url = url1 + str(i) + url2
    
    # Send a GET request to the page URL
    response = requests.get(page_url)

    resp=response.text # couldn't parse to json some extra chars and line breaks
    resp2 = resp[42:-27] # remove extra chars
    resp_json = json.loads(resp2) # to dictionary
    items = resp_json['items'] # access articles (list of dictionaries)
    items_df = pd.DataFrame(items) #transform to dataframe
    
    loop_df = items_df[['title', 'description']]
    
    it_df = pd.concat([it_df, loop_df], ignore_index=True, sort=False)
    
it_df

,title,description
0,Housing crisis â€“ a modest proposal,"Sir, â€“ In view of the likely further windfall ..."
1,"Apple tax case begins, housing affordability, ...",Apple told the European Unionâ€™s highest court ...
2,Castleknock house prices: Six properties and w...,Where: 13 Castleknock Grove What: Three-bed se...
3,Dublin has third lowest level of low-cost hous...,Dublin has one of the lowest concentrations of...
4,Housing starts continue to rise despite hike i...,"Housing commencements, one of the strongest in..."
5,Cliff Taylor: Are Irish house prices set to fa...,House prices in March were 3.9 per cent ahead ...
6,House price inflation slows to 3.9% as interes...,House price inflation continues to slow in the...
7,What should we be aware of when purchasing a h...,If my family were to purchase a house privatel...
8,Housing crisis and land-price speculation,"Sir, â€“ Further to Gerard Howlinâ€™s article â€œMor..."
9,Housing and the price of land,"Sir, â€“ David Doran (Letters, May 15th) writes ..."
10,Irish house prices rise 8.9% in first three mo...,A decline in the number of houses changing han...
11,Fact-checking the Governmentâ€™s claims on socia...,The big message from the recent release of soc...
12,Demand for houses and apartments remains stron...,Home builder Cairn said demand for houses and ...
13,"UK house prices fall for first time this year,...",UK house prices fell for the first time this y...
14,Prem Group â€˜actively lookingâ€™ for properties t...,"Prem Group, the Dublin-based hotel operator be..."
15,"PwC dragged into leaks fallout, house prices s...",Stay up to date with all our business news: si...
16,"US debt default, buying houses for staff, and ...",â€œThe United States is not a deadbeat nation; w...
17,"â€˜Price-gougingâ€™ stories: Glass of house wine, ...",When Irish Times columnist Justine McCarthy ex...
18,Supermacâ€™s owner chips in to house workers,"In the teeth of the housing crisis, Supermacâ€™s..."
19,Builders discuss the housing crisis: â€˜If this ...,"Is the Governmentâ€™s newest housing initiative,..."
20,Michael McDowell: Local authority housing powe...,At the very heart of the present Governmentâ€™s ...
21,Ratings agency warns on economic price of Iris...,"DBRS Morningstar, which was alone among the wo..."
22,Cliff Taylor: Will the new housing plan work a...,What has the Government done to try to get mor...
23,Development levies to be waived to speed up ho...,The Government will assume the costs of linkin...
24,Q&A: Will housing plan to remove development l...,The removal for a period of development contri...
25,"Anne Enright on Dublin, A Writerâ€™s City: every...",It used to be said that some people give direc...
26,Kerry councillors call for curbs on social hou...,Councillors in Kerry are calling for curbs on ...
27,Europeâ€™s decade-long housing boom grinds to a ...,"Walking through the suburbs of Luxembourg, the..."
28,Healy-Raes criticise Kerry planners over rejec...,A planning application for 12 houses in a rura...
29,Slick design and energy efficiency at new Blac...,The design-led project at Old Meadow on Avoca ...
...,...,...
870,New housing data map could â€˜revolutioniseâ€™ pub...,The developers of a new housing data resource ...
871,House prices: GardaÃ­ should use pension funds ...,An Garda SÃ­ochÃ¡na should consider using their ...
872,EU housing report highlights Irelandâ€™s relianc...,A major European report on housing has highlig...
873,Why the Government refuses to intervene in hou...,Thereâ€™s a notion that should be instantly disp...
874,Dublin house sales increase 6% as new homes dr...,The number of house sales in Dublin rose by 5....
875,A need to reduce housing costs,"Sir, â€“ My compliments to Cantillon (Business, ..."
876,Cheap alcohol and over-priced houses,"Sir, â€“ The Government is set to fast-track mea..."
877,Builders say pay rises for workers would drive...,The construction industry has rejected demands...
878,Catch-22: ESRI calls for more foreign workers ...,Good morning. Itâ€™s a catch-22. To build more h...
879,Soft landing for the housing market?,"Sir, â€“ It is astonishing to see ratings agency..."
880,Chris Johns: Stalling house prices are a good ...,Housing and house prices are a problem in many...
881,Eamon Ryan: Social housing on its own will not...,Our housing crisis is most acute in the rental...
882,â‚¬26m regeneration of 100 homes at Dolphin Hous...,The regeneration of 100 homes at Dolphin House...
883,Housing crisis must be solved to avoid another...,The soon-to-be-published National Planning Fra...
884,Why Government response to housing crisis has ...,The housing crisis is a social emergency and p...
885,No house price bubble; bankers bashed; and red...,House prices may have jumped 85 per cent since...
886,Almost two-thirds of people believe house pric...,Almost two-thirds of people expect house price...
887,US firms warn housing crisis could harm Irelan...,"A representative body for US businesses, inclu..."
888,Facing a CGT bill for house inherited from fat...,Our father died in 1993 without making a will....
889,Nine social houses does not a housing policy make,Minister of State with Responsibility for Hous...
890,"The Rathmines house, the multimillion AIB debt...","A substantial red-brick house in Rathmines, Du..."
891,Fairytale Sutton house with stellar sea views ...,Anyone who has strolled up Strand Road to take...
892,Are inefficient builders the reason we donâ€™t h...,Is a low-productivity building industry one of...
893,Central Bank governor warns of potential fall ...,The governor of the Central Bank has warned th...
894,Share your story: Are you affected by the hous...,With prices for properties beyond the reach of...
895,"Housing, welfare and childcare dominate budget...","Housing, welfare and childcare were the main i..."
896,â€˜King of promisesâ€™: TÃ¡naiste slated over stude...,TÃ¡naiste Simon Coveney insisted the Government...
897,21 years to save for a deposit in Dublin as ho...,It could take the average worker renting in Du...
898,We probably paid too much but we finally found...,"After 18 months, about 100 viewings, countless..."
899,Over 370 vacant homes bought for social housing,More than 370 vacant houses and apartments hav...

In [20]:
# it_df.to_csv('irish_times.csv', index=False)